.c-item{
  height: 590px;
}

.c-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(1);
  -webkit-filter: brightness(1);
}

.pp{
  color: white;
  text-align: center;
  font-weight: bold;
}
